@page "/Login"

@inject IAuthenticationRepository _authRepo
@inject NavigationManager _navMan

<div class="card">
    <h3 class="card-title">Login</h3>
    @if (!response)
    {
        <div class="alert alert-danger">
            <p>Something Went Wrong with the login attempt</p>
        </div>
    }
    <div class="card-body">
        <EditForm Model="LoginModel" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="email">Email Address</label>
                <InputText Id="email" class="form-control" @bind-Value="LoginModel.EmailAddress"></InputText>
                <ValidationMessage For="@(() => LoginModel.EmailAddress)"></ValidationMessage>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText Id="password" type="password" class="form-control" @bind-Value="LoginModel.Password"></InputText>
                <ValidationMessage For="@(() => LoginModel.Password)"></ValidationMessage>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </EditForm>
    </div>
</div>

@code
{
    private LoginModel LoginModel = new LoginModel();
    private bool response = true;
    public async Task HandleLogin()
    {
        response = await _authRepo.Login(LoginModel);

        if (response)
        {
            _navMan.NavigateTo("/");
        }
    }
}
